.navbar {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}
.navItems ul {
  display: flex;
  gap: 2vw;
  font-weight: 600;
}
.navItems ul * {
  text-decoration: none;
}
.user {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}
/* mobile */
.mobileMenu {
  display: none;
}
.closed-menu {
  left: -100% !important;
}
.open-menu {
  left: 0 !important;
}
.mobile-nav-list {
  position: absolute;
  top: 11vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(119, 117, 255, 0.9);
  transition: all 0.2s;
  text-align: center;
  display: none;
}
.mobile-nav-list ul li {
  list-style: none;
  margin: 1rem 0;
}
.mobile-nav-list ul li * {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}
.mobileNavMenu img {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  display: none;
}
@media screen and (max-width: 900px) {
  .mobileNavMenu img {
    display: block;
  }
  .mobileMenu {
    display: block;
  }
  .mobile-nav-list {
    display: block;
  }
  .navItems {
    display: none;
  }
  .user {
    display: none;
  }
  .navbar {
    padding: 1rem;
  }
  .logo {
    font-size: 2rem;
  }
}
